altair
numpy
pandas
pydeck
yfinance
streamlit>=1.8.0
seaborn
matplotlib
plotly
requests
quandl
alpha_vantage
xlsxwriter
pandas_ta
newsapi-python
wbdata
investpy
beautifulsoup4
streamlit-aggrid
googletrans==4.0.0-rc1
pygoogletranslation
backtrader
streamlit-autorefresh
streamlit-notifications
bt
opencv-python-headless
opencv_python