numpy
pandas
yfinance
streamlit>=1.8.0
seaborn
matplotlib
plotly==5.23.0
requests==2.32.3
quandl
alpha_vantage
pandas_ta==0.3.14b0
newsapi-python
wbdata
investpy
beautifulsoup4
streamlit-aggrid
googletrans==4.0.0-rc1
pygoogletranslation
backtrader
streamlit-autorefresh
streamlit-notifications
bt